<div class="content" fxLayout="row" fxLayoutAlign="center">

  <mat-card elevation="5" fxFlex>

    <mat-card-subtitle>
      <h2>MédiaTECH</h2>
    </mat-card-subtitle>

    <mat-card-title>
      <h2>{{ title }}</h2>
    </mat-card-title>

    <mat-card-content>

      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <mat-input-container>
          <label>Nom d'utilisateur: </label>
          <input matInput formControlName="username" required>
        </mat-input-container>
        <mat-input-container>
          <label>Email</label>
          <input matInput formControlName="email" required type="email">
        </mat-input-container>
        <mat-input-container>
          <label>Mot de passe: </label>
          <input matInput formControlName="password" required type="password">
        </mat-input-container>
        <mat-input-container>
          <label>Prénom: </label>
          <input matInput formControlName="firstname" required>
        </mat-input-container>
        <mat-input-container>
          <label>Nom: </label>
          <input matInput formControlName="lastname" required>
        </mat-input-container>
        <button type="submit" [disabled]="!signupForm.form.valid" mat-raised-button color="primary">Sign up</button>
      </form>
      <br>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>

      <p><i>Crée par <a href="https://github.com/ghilesfeghoul">Ghiles FEGHOUL</a></i></p>
      <p><i>Cliquer pour visiter mon Github</i></p>
      <button (click)="repository()" mat-raised-button color="accent">GitHub Repository</button>

    </mat-card-content>

  </mat-card>

</div>
