<div class="content" fxLayout="row" fxLayoutAlign="center">

  <mat-card elevation="5" fxFlex>

    <mat-card-subtitle>
      <h2>Angular Spring Starter</h2>
    </mat-card-subtitle>

    <mat-card-title>
      <h2>{{ title }}</h2>
    </mat-card-title>

    <mat-card-content>

      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <input name="id" value="{{user.id}}" type="hidden">
        <mat-input-container>
          <label>Nom d'utilisateur: </label>
          <input matInput formControlName="username" value="{{user.username}}" disabled="disabled">
        </mat-input-container>
        <br>
        <mat-input-container>
          <label>Email: </label>
          <input matInput formControlName="email" value="{{user.email}}" type="email">
        </mat-input-container>
        <br>
        <mat-input-container>
          <label>Prénom: </label>
          <input matInput formControlName="firstname" value="{{user.firstname}}">
        </mat-input-container>
        <br>
        <mat-input-container>
          <label>Nom: </label>
          <input matInput formControlName="lastname" value="{{user.lastname}}">
        </mat-input-container>
        <br>
        <button type="submit" [disabled]="!signupForm.form.valid" mat-raised-button color="primary">Update</button>
      </form>
      <br>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>

      <p>
      <p><i>Crée par <a href="#">Juba TIDAF</a></i></p>

    </mat-card-content>

  </mat-card>

</div>
