<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="imgUrl" alt="Document image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Par : {{author}} en {{year}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="display: none">Id : {{path}}</li>
    <li class="list-group-item">Genre : {{gender}}</li>
    <li class="list-group-item">Tarif d'emprunt : {{tarif}}</li>
  </ul>
  <div class="card-body">
    <button *ngIf="currentUser"
            class="btn btn-dark"
            (click)="realiserEmprunt()"
    >
      Emprunter
    </button>
  </div>
</div>
